body
{
  font-family: 'Caveat', cursive;
  background: #E2E8DD;
}

.header_div
  {
  background: rgb(176, 138, 219);
  color: white; 
  }

  .header_div p{
    font-family: 'Caveat', cursive;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
  }
  .main_div button{
    font-family: 'Caveat', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
  }

  
  .copy_right_footer {
   position: fixed;
   color: #ffbbef;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #f5f5f5; 
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(151, 149, 149);
}
